* {
    margin: 0;
    padding: 0;
}

header {
    display: block;
    height: 15%;
    background: #147F31;
    align-content: center;
    text-align: center;
    margin-top: 0px;
    padding-top: 10px;
}

.poisk {
    display: inline-block;
    width: 30%;
    text-align: center;
    float: none;
    border-radius: 5px;
}

.poisk_form input {
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    color: #147f31;
    text-decoration: bold;
}

.result {
    background: #C9FFD7;
}

.catalog_container {
    display: inline-block;
    background: #C9FFD7;
    margin: 20px;
    color: #567F61;
    border-radius: 10px;
    padding: 10px;
    content-align: center;
    text-align: center;
    max-width: 300px;
    min-width: 100px;
    max-height: 30%;
}

.catalog_image {
    max-width: 90%;
}

.catalog_title a{
    color: #567F61;
}

.catalog_title {
    float: left;
    max-width: 90%;
}

.catalog_image a img{
    max-width: 50%;
    align: center;
    border-radius: 10px;
}

.product_container {
    display: inline-block;
    background: #C9FFD7;
    margin: 20px;
    color: #567F61;
    border-radius: 10px;
    padding: 10px;
    content-align: center;
    max-width: 70%;
    max-height: 70%;
}

.product_title {
    display: inline-block;
    max-width: 90%;
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product_price {
    text-align: center;
}

.product_price a:nth-child(1){
    display: inline-block;
    font-size: 1.5em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #567F61;
}
.product_price a:nth-child(2){
    display: inline-block;
    background: #147F31;
    font-size: 1.5em;
    color: #C9FFD7;
    text-decoration: none;
    align: center;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
}

.product_firma {
    display: inline-block;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product_description {
    display: inline-block;
    text-align: left;
    max-width: 90%;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    margin-top: 10px;
    margin-bottom: 30px;
}

.product_description a{
    color: #567F61;
    font-style: bold;
}

.product_image a img{
    max-width: 70%;
    max-height: 500px;
    align: center;
    border-radius: 10px;
}

.main_container {
    display: inline-block;
    background: #C9FFD7;
    margin: 20px;
    color: #567F61;
    border-radius: 10px;
    padding: 10px;
    content-align: center;
    max-height: 70%;
    max-width: 70%;
}

.main_title{
    display: inline-block;
    max-width: 90%;
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main_image a img{
    max-width: 90%;
    min-width: 10%;
    padding: 10px;
    align: center;
    border-radius: 10px;
}

.main_link a{
    display: inline-block;
    background: #147F31;
    font-size: 1.5em;
    color: #C9FFD7;
    text-decoration: none;
    align: center;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.gallery {
    display: block;
    width: 100%;
    height: 70%;
    text-align: center;
    content-align: center;
}

.podzagolovok {
    display: block;
    text-align: center;
    height: 20px;
    margin-top: 0px;
    color: #C9FFD7;
    font-size: 1em;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.logo {
    display: block;
    width: 100%;
    height: 50px;
    color: #C9FFD7;
    font-size: 3em;
    text-align: center;
}

.logo a {
    display: block
    width: 100px;
    height: 50px;
    text-decoration: none;
    color: #C9FFD7;
    font-size: 1em;
}

.formreg {
    display: block;
    background: #905b20;
    width: 400px;
    margin: 20px;
    margin-left: 30px;
    color: #fff2d0;
    border-radius: 5px;
    padding: 10px;
}

.catalog_menu {
    align-content: none;
    text-align: left;
    display: inline-block;
    background: #905b20;
    margin: 20px;
    margin-left: 30px;
    color: #fff2d0;
    border-radius: 5px;
    padding: 10px;
}

.catalog_menu li {
    display: block;
    float: left;
    color: #fff2d0;
    list-style-type: none;
    padding: 5px;
}

.catalog_menu a {
    text-align: left;
    color: #fff2d0;
    text-decoration: none;
    list-style-type: none;
}

.catalog_item img {
    height: 100px;
    margin-top: 10px;
}

.catalog_item {
    float: none;
    display: block;
    color: #fff2d0;
}

.formregfull {
    display: block;
    background: #905b20;
    width: 600px;
    margin: 20px;
    margin-left: 30px;
    color: #fff2d0;
    border-radius: 5px;
    padding: 10px;
}

.registr input {
    margin: 10px;
    margin-left: 30px;
    border: #fff2d0;
    border-radius: 5px;
    height: 20px;
    margin-bottom: 5px;
    background-color: #fff2d0;
    padding-left: 5px;
}

.registr .submiter {
    padding: 0px;
    width: 150px;
    color: #905b20;
}

.submiter a {
    text-decoration: none;
}

.menu {
    display: inline-block;
}

.menu li{
    text-decoration: none;
    float: left;
    margin-left: 20px;
    margin-top: 15px;
    color: #C9FFD7;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    list-style-type: none;
}

.menu a{
    text-decoration: none;
    margin-top: 15px;
    color: #C9FFD7;
    list-style-type: none;
    font-size: 1.1em;
}

.admintab {
    text-decoration: none;
    margin-left: 20px;
    margin-top: 15px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    display: block;
    background: #905b20;
    width: 600px;
    margin: 20px;
    margin-left: 30px;
    color: #fff2d0;
    border-radius: 5px;
    padding: 10px;
}

.admintab li {
    text-align: left;
    text-decoration: none;
    list-style-type: none;
}

.admintab a {
    text-align: left;
    text-decoration: none;
    list-style-type: none;
}

.error {
    color = red;
}

footer {
    display: block:
    float: none;
    height: 150px;
    border: red 3px;
    background: #147F31;
    align-content: center;
    margin-top: -5px;
}